<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ChannelsSection" type="app.config.ChannelsSectionHandler, app, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <!--<MidiDevice name="loopMIDI"></MidiDevice>-->
  <ChannelsSection>
    <Device name="loopMIDI"></Device>
    <Channels>
      <add name="1" command="90 18 40 " hotkey="ctrl P"></add>
      <add name="2" command="90 19 40 " hotkey="ctrl C"></add>
      <add name="3" command="90 1A 40 " hotkey="ctrl X"></add>
      <add name="4" command="90 1B 40 " hotkey="ctrl V"></add>
    </Channels>
  </ChannelsSection>
</configuration>